.container{
	margin-top			: 10px;
}

.form-group{
	margin-top			: 20px;
	margin-left         : 10px;
}

.btn-primary{
	color				: white;
	background-color	: gray;
	border				: gray;
}

h1{
	padding-bottom		: .5em;
	border-bottom		: 3px solid #ccc;
	padding-left		: 10px
}

/*
 h1{
	color 				: white;
 	background-color	: gray;
 	border				: 2px solid gray;
 	padding-left		: 50px
 }
 */





 /*
 a{
 	padding-left		: 20px;
 }
 */